*.css linguist-detectable=true
*.html linguist-detectable=true
*.js linguist-detectable=true
*.php linguist-detectable=true

*.min.css linguist-vendored
*.min.js linguist-vendored

assets/vendor/* linguist-vendored
